*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 80vh;
    width: 100%;
    position: relative;
    background-image: url(images/cooking.jpg);
    background-repeat: no-repeat;
    background-position: right;
   

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    flex: 1;
    text-align: right; 
}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding: 2% 2%;
}
.navbar ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.navbar ul li:hover a{
    color: rgb(232, 165, 21);
}

.navbar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
    
}

.text-box h1{
    font-size: 60px;
    padding: 10px;
    margin-left: 40px ;
}


.btn{
    text-decoration: none;
    margin: 10px;
    margin-left: 40px;
    display: inline-block;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
    /* border-color: rgb(222, 218, 218); */
    border-color: rgb(232, 165, 21);
    color: black;
    font-size: 16px;
}

.btn:hover{
    border: none;
    background-color: rgb(232, 165, 21);
    /* transition: 0.1s; */
    color: white;
}
p{
   text-align: left; 
   padding: 10px 14px;
   color: gray;
   font-size: 18px;
   
}
.p-title{
    text-align: center; 
   padding: 10px 25%;
   color: gray;
   font-size: 18px;
}
h2{
    text-align: center;
    padding: 10px 25%;
}
.row{
    display: flex;
    justify-content:space-between;
    margin: 2% 5%;
   padding-bottom: 4%;
}   

/* popular */

.popular{
    background-color: rgb(246, 232, 214);
    margin:auto;
    text-align: center;
    padding-top: 70px;
   
}

.popular-col{
    flex-basis:42% ;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 30px;
    position:relative;
    overflow: hidden;
    background: white;
    padding: 1%;
}
.popular-col img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-bottom: 5%;
    border-radius: 10px;
    
    
}
.popular-col button{
    width: 90%;
    margin: 5% auto;
    background: inherit;
}

/* Explore section */

.explore-col{
    flex-basis:42%;
    border-radius:10px;
    position: relative;
    overflow: hidden;
    margin: 5px;
    height: 250px;
    width: 250px;
}
.explore-col img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 10px;
}

/* Blog */

.Blog{
    background-color: rgb(246, 232, 214);
}

.Blog.row{
    display: flex;
    justify-content: space-between;
    margin: 2% 5%;
    padding-bottom: 2%;
    align-items: stretch;
     
}

.b-main{
    flex-basis: 55%;
    overflow: hidden; 
    justify-content: space-between;
    
}
/* .b-main p{
    text-align: left;
    margin: 0;
    padding: 0;
} */
.b-main img{
    border-radius: 10px;
    height: 300px;
    width: 95%;
    object-fit: cover;
    display: block;   
    
}

.b-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* justify-content: space-between; */
}

.b-child{
    display: flex;
    flex: 1;
    gap: 10px;
    /* margin: 5%;  */
}

.b-child img{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.b-child-row{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .b-child p{
    text-align: left;
    padding: 0;
    margin: 0;
} */
.date{
    padding: 5px 14px;
    font-size: 14px;
    color: gray;
}
.Blog h3{
    text-align: left; 
    padding: 5px 14px;
    font-size: 20px;
    
}
.btn-container{
    display: flex;
    justify-content: center;
   
}
/* Footer */
/* .footer{
    background-color: black;
} */
hr{
    border: 1px solid   black;
   
}

.footer-col hr{
    margin: 20px auto;
    width: 55%;
    
}

.footer-col{
    display: block;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.footer-col ul {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 50px; 
    padding: 2%;
    margin: 0;
    list-style: none;
}

.footer-col ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.footer-col ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.footer-col ul li:hover a{
    color: rgb(232, 165, 21);
}

.footer-col ul li:hover::after{
    width: 100%;
}